<!DOCTYPE html>
<html lang="en" th:replace="~{/admin/layout::shared(~{::.content},'Trang Tong quang',~{::link})}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Trang chủ</title>
	<link rel="stylesheet" href="/css/admin_main.css">
</head>

<body>
	<div class="content">
		<div class="container-main">
		        <h2 class="title-main">Kết quả kinh doanh</h2>
		        <div class="grid">
		            <div class="card">
		                <span class="label">Doanh thu thuần</span>
		                <span class="value">0₫</span>
		            </div>
		            <div class="card gray">
		                <span class="label">Tổng đơn</span>
		                <span class="value">0</span>
		            </div>
		            <div class="card gray">
		                <span class="label">Chưa thanh toán</span>
		                <span class="value">0</span>
		            </div>
		        </div>
		        <div class="grid-2">
		            <div class="card">
		                <span class="label">Giá trị trung bình đơn</span>
		                <span class="value">0₫</span>
		            </div>
		            <div class="card">
		                <span class="label">Số lượng hàng bán</span>
		                <span class="value">0</span>
		            </div>
		            <div class="card">
		                <span class="label">Chưa giao</span>
		                <span class="value">0</span>
		            </div>
		            <div class="card">
		                <span class="label">Đang giao</span>
		                <span class="value">0</span>
		            </div>
		            <div class="card">
		                <span class="label">Hủy</span>
		                <span class="value">0</span>
		            </div>
		        </div>
		    </div>
			</div>

</body>

</html>