<nav class="sidebar">
           <div class="header-sidebar">
               <div class="logo">DevShop</div>
               <button class="toggle-btn"> &lt</button>
           </div>
           <ul>
               <ul>
                   <li class="">
                       <a href="/devshop/admin/index">
                           <i class="fas fa-tachometer-alt"></i> Tổng quan
                       </a>
                   </li>
                   <li>
                       <a href="/devshop/admin/order">
                           <i class="fas fa-shopping-cart"></i> Đơn hàng
                       </a>
                   </li>
                   <li>
                       <a href="/devshop/admin/product">
                           <i class="fas fa-box"></i> Sản phẩm
                       </a>
                   </li>
                   <li>
                       <a href="/devshop/admin/customer">
                           <i class="fas fa-users"></i> Khách hàng
                       </a>
                   </li>
                   <li>
                       <a href="/devshop/admin/category">
                           <i class="fas fa-list"></i> Danh mục
                       </a>
                   </li>
                   <li>
                       <a href="promotions.html">
                           <i class="fas fa-tags"></i> Khuyến mãi
                       </a>
                   </li>
                   <li>
                       <a href="statistics.html">
                           <i class="fas fa-chart-bar"></i> Thống kê
                       </a>
                   </li>
               </ul>

           </ul>
       </nav>