<!DOCTYPE html>
<html lang="en" th:replace="~{/home/layout::shared(~{::.content},~{::link})}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cart</title>
	<link rel="stylesheet" href="/css/cartnull.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
	<div class="content">
	        <div class="container-Cart">
	            <div class="title-cart">
	                <h2>Giỏ hàng</h2>
	                <p>Không có sản phẩm trong giỏ hàng</p>
	                <div>
	                    <img src="https://m.yodycdn.com/web/prod/_next/static/media/cart-empty.250eba9c.svg" alt=""
	                        srcset="">

	                </div>
					<a href="/devshop/page/index" class="btn btn-primary ">Mua sắm ngay</a>

	            </div>
	        </div>
	    </div>
</body>

</html>