<div class="header-menu row align-items-center ">
	<div class="col-auto logo">
		<h1><a href="/devshop/page/index" class="text-dark text-decoration-none">DevShop</a></h1>
	</div>

	<div class="col">
		<!-- Nút toggle -->
		<button class="navbar-toggler d-md-none" onclick="toggleMenu()">
			<i class="bi bi-list"></i>
		</button>

		<!-- Thanh điều hướng -->
		<nav>
			<ul class="nav justify-content-center">
				<li class="nav-item">
					<a class="nav-link" href="/devshop/home/sanphammoi">Sản phẩm mới</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/devshop/home/banchay">bán chạy </a>
				</li>
				<li class="nav-item " th:each="category:${categories}">
					<a class="nav-link" th:href="@{/devshop/home/{id}(id=${category.category_id})}" th:text="${category.name} ">
					
					</a>
					<ul th:if="${not #lists.isEmpty(category.subCategories)}">
					            <li th:each="sub : ${category.subCategories}">
					                <a th:href="@{/devshop/home/{id}(id=${sub.category_id})}" th:text="${sub.name}"></a>
					            </li>
					        </ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/devshop/home/tin">Tin hot</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/devshop/home/uudai">Ưu đãi</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="col-auto">
		<div class="d-flex gap-3">
			<a href="#" class="text-dark" title="Search">
				<i class="bi bi-search"></i>
			</a>
			<a href="/cart/show" class="text-dark" title="Cart">
				<i class="bi bi-cart"></i>
			</a>
			<th:block th:if="${session.currentUser == null}">
			       <a href="/devshop/home/login" class="text-dark" title="Profile">
			           <i class="bi bi-person"></i>
			       </a>
			   </th:block>

			   <th:block th:if="${session.currentUser != null}">
			       <div class="user-menu">
			           <!-- Avatar: Chuyển đến trang cá nhân -->
			           <a href="/devshop/home/profile" class="text-dark">
			               <img th:src="@{|/photo/${session.currentUser.photo}|}" alt="User Avatar" class="rounded-circle avatar">
			           </a>

			           <a href="/devshop/home/logout" class="logout-text">Đăng xuất</a>
			       </div>
			   </th:block>
		</div>
	</div>

	<hr>
</div>