

	<div class="recently-viewed">
	    <div class="title-viewed">Đã xem gần đây</div>
	    <div class="product-list-viewed">
	        <!-- Duyệt danh sách sản phẩm đã xem -->
	        <div class="product-viewed" th:each="product : ${productViewed}">
	            <a th:href="@{'/devshop/product/' + ${product.product_id}}">
	                <img th:src="@{|/photo/${product.mainImage}|}" th:alt="${product.name}">
	                <p th:text="${product.name}"></p>
	                <p class="price-viewed">
	                    <span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + ' đ'"></span>
	                    
	                </p>
	            </a>
	        </div>
	    </div>
	</div>
