<!DOCTYPE html>
<html lang="vi" th:replace="~{/home/layout::shared(~{::.login-container},~{::link})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="login-wrapper">
        <section class="login-container">
            <h2>Trang đăng ký</h2>

            <!-- Hiển thị nhiều lỗi -->
            <ul th:if="${errors}" style="color: red;">
                <li th:each="error : ${errors}" th:text="${error}"></li>
            </ul>

            <form action="/register" method="post">
                <input type="text" name="username" placeholder="Nhập username">
                <input type="password" name="password" placeholder="Nhập mật khẩu">
                <input type="password" name="confirmPassword" placeholder="Xác nhận mật khẩu">
                <button type="submit">Đăng ký</button>
                <button type="button" onclick="window.location.href='/devshop/home/login'">Đăng nhập</button>
            </form>
        </section>
    </div>
</body>

</html>
